//
// Global variables
// --------------------------------------------------

$headerBackgroundColor: #000000;
$copyColor: #ffffff;

$containerBorder: #000000;
$containerBackgroundColor: #ebebeb;

$containerTargetBackgroundColor: #929292;

$modalContentBackgroundColor: #ffffff;

$modalContentBackgroundColor: #ffffff;

$secondColor: #797979;

